@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.PayTraceRedirectPaymentModel>

@* S6 View for PayTrace Redirect provider, if needed *@

@{ 
	
}

<h3 class="subheader">PayTrace Redirect</h3>