@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.PayTraceRedirectPaymentModel>

@* S6 View for PayTrace Redirect provider *@

@using System.Web.Mvc.Html;
@using Merchello.FastTrack.Controllers.Payment;
@using Merchello.FastTrack.Ui;
@using Merchello.Web.Models.Ui;

@{
	string formId = "frm-redirect";
}

<h3 class="subheader">PayTrace Redirect</h3>
<p>Please review your order details then press the button to provide your payment information.</p>
@using (Html.BeginUmbracoForm<PayTraceRedirectPaymentController>("HandlePaymentForm", new { area = "FastTrack" }, new { @id = formId }))
{
	@Html.AntiForgeryToken()	
	@Html.Partial("_RequireJsSubmitBtn", Model)	
}